<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>My Pylo Blog</title>
</head>
<body>
<header>
    <h1><a href="/">Pylo Blog</a></h1>
    <p>Aqui posto algumas coisas relacionadas ao meu aprendizado com novas tecnologias</p>
    <p>Você pode encontrar esses posts como artigos no meu
        <a href="https://linkedin.com/in/pilu-vitu" target="_blank">LinkedIn</a></p>
</header>
<main>
    <div>
        <h2><a href="">My First Blog</a></h2>
        <p>loremyipsum</p>
        <p>publicado: 14.06.2014, 12:14</p>
    </div>
</main>
</body>
</html>